<form [formGroup]="form" (ngsubmit)="formSubmit(form)">
    <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
    <mat-card-content>
          <p>Ingresa tu usuario</p>
        </mat-card-content>
    
        <!-- Username -->
       <mat-form-field class="full-width">
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput type="text" placeholder="Escribe tu nombre usuario" formControlName="username">
        <mat-hint>8 a 20 caracteres</mat-hint>
        <mat-error *ngIf="form.controls['username'].errors?.['required']">Este campo es requerido</mat-error>
        <mat-error *ngIf="form.controls['username'].errors?.['minlength']">Porfavor ingrese mas de 8 caracteres</mat-error>
        <mat-error *ngIf="form.controls['username'].errors?.['maxlength']">Porfavor ingrese menos de 20 caracteres</mat-error>
      </mat-form-field> 
    
        <!-- Password -->
        <mat-form-field class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" placeholder="Escribe tu contraseña" formControlName="password">
            <mat-hint>8 a 32 caracteres</mat-hint>
            <mat-error *ngIf="form.controls['password'].errors?.['required']">Este campo es requerido</mat-error>
            <mat-error *ngIf="form.controls['password'].errors?.['minlength']">Porfavor ingrese mas de 8 caracteres</mat-error>
            <mat-error *ngIf="form.controls['password'].errors?.['maxlength']">Porfavor ingrese menos de 32 caracteres</mat-error>
            <mat-error *ngIf="form.controls['password'].errors?.['pattern']">Contraseña no cumple con los requisitos</mat-error>
          </mat-form-field> 
    
      <mat-card-actions align="end">
            <button mat-button type="reset" (click)="formCancel()">Cancelar</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"> Ingresar </button>
        </mat-card-actions>
    
    
      </mat-card>
    </form>
    