<form [formGroup]="form" (ngsubmit)="formSubmit(form)">
<mat-card class="reservation-card">
    <mat-card-header>
      <mat-card-title>Crear una Reservacion</mat-card-title>
    </mat-card-header>
<mat-card-content>
      <p> Nuestra froma va aqui</p>
    </mat-card-content>

    <!-- Name -->
   <mat-form-field class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput type="text" placeholder="Escribe tu nombre" formControlName="name">
    <mat-hint>10 a 30 caracteres</mat-hint>
    <mat-error *ngIf="form.controls['name'].errors?.['required']">Este campo es requerido</mat-error>
    <mat-error *ngIf="form.controls['people'].errors?.['minlength']">Porfavor ingrese mas de 10 caracteres</mat-error>
    <mat-error *ngIf="form.controls['people'].errors?.['maxlength']">Porfavor ingrese menos de 30 caracteres</mat-error>
  </mat-form-field> 

  <!-- Email -->
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="Escribe tu Email" formControlName="email">
    <mat-hint>ej usuario@dominio.com</mat-hint>
    <mat-error *ngIf="form.controls['email'].errors?.['required']">Este campo es requerido</mat-error>
  </mat-form-field> 

  <!-- Phone -->
  <mat-form-field class="full-width">
    <mat-label>Telefono</mat-label>
    <input matInput type="tel" placeholder="Escribe tu Numero de telefono" formControlName="phone">
  </mat-form-field> 

  <!-- People -->
  <mat-form-field class="full-width">
    <mat-label>Numero de personas</mat-label>
    <input matInput type="number" placeholder="Escribe el numero de personas para la mesa" formControlName="people">
    <mat-error *ngIf="form.controls['people'].errors?.['required']">Este campo es requerido</mat-error>
    <mat-hint>1 a 9 personas</mat-hint>
  </mat-form-field> 

    <!-- Date picker -->
    <mat-form-field>
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker"formControlName="reservationDate"/>
      <mat-datepicker-toggle matIconSuffixc [for] ="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.controls['reservationDate'].errors?.['required']">Este campo es requerido</mat-error>
    </mat-form-field>
    
      <!-- Schedule -->
  <mat-form-field>
    <mat-label>Horario</mat-label>
    <mat-select formControlName="reservationSchedule">
      <mat-option value="6">6:00 pm</mat-option>
      <mat-option value="6">7:00 pm</mat-option>
      <mat-option value="6">8:00 pm</mat-option>
      <mat-option value="6">9:00 pm</mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls['reservationSchedule'].errors?.['required']">Este campo es requerido</mat-error>
  </mat-form-field> 


  <mat-card-actions align="end">
        <button mat-button type="reset" (click)="formCancel()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"> Reservar </button>
    </mat-card-actions>


  </mat-card>
</form>

  